.seccion1{
    background-color: #0F3D22;
    padding-bottom: 40px;
}

.colorVerdeClaro{
    color: #95C46C;
    ;
}
.colorVerdeLetra{
    color: #2f975a;
}

.marginBoton{
    margin-top: 33px;
}
.div-separation{
    height: 400px;
}