.seccion1 {
  background-color: #0f3d22;
  position: relative;
}

.colorVerdeClaro {
  color: #95c46c;
}
.colorVerdeLetra {
  color: #2f975a;
}

.marginBoton {
  margin-top: 33px;
}

.transparent-rectangle {
  width: 65%;
  height: 60%;
  background-color: rgba(223, 208, 208, 0.705);
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  bottom: 118%;
  right: 25%;
}

.contenedorDeLogo{
position: relative;
width: 100%;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*height: 100vh; /* Ocupa toda la altura de la ventana */
}

.seccion3 {
  background-color: rgb(179, 172, 172);
}

.imagenHotel {
  object-fit: cover;
}
