
.btnReservationContainer{
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
        background-color: rgba(244, 246, 255, .2);
        transition: all .3s ease;
    }
}
.btnReservation{
    color: var(--color-light-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 0;
    font-size: 1rem;

    & svg{
        font-size: 1.3rem;
    }
}