
.btnReservationContainer{
    border: 2px solid var(--color-primary-dark);
    border-radius: 8px;
    padding: 10px;
}
.btnReservation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 0;
    font-size: 1rem;

    & svg{
        font-size: 1.3rem;
    }
}