h5 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem; 
  color: #00652F;
}
h5:hover{
  color:#00652F;
  background-color: rgba(255, 255, 255, 0.781) ;
  text-decoration:wavy; 
  transition: color 0.3s ease;
  cursor:text;
  display:inline-block;
}

.footer-background {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.text-link {
  color: black;
  text-decoration: none;
 padding: 0.3rem 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
}

.text-link:hover {
  color:white;
  background-color:#95C46C;
  text-decoration:wavy; 
  transition: color 0.3s ease;
}


.footer-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('http://www.hotelsolsanjavier.com.ar/public/images/slider/PRUEBA%203%20-%20copia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}


.icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

ul.list-unstyled li {
  margin-bottom: 1rem;
}
